<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Example Example</h2>
            <h4>example@email.com</h4>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Soufiane FADIL">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>home</mat-icon> Home
    </a>
   
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/orders">
        <mat-icon>shopping_cart</mat-icon> Orders
    </a>
    
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/deliveries">
        <mat-icon>receipt</mat-icon> Deliveries
    </a>
    
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/inventory">
        <mat-icon>store</mat-icon> Inventory
    </a>
    
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/users">
        <mat-icon>person</mat-icon>
        Users
    </a>

</mat-nav-list>